body {
    margin: 10px;
}

ul {
    list-style: none;
    float: left;
}

ul#listWidthHandle-left {
    position: static;
}

ul#listWidthHandle-right {
    position: static;
}

li.a {
    margin-left: 5px;
    width: 100px;
    height: 20px;
    border: 1px solid gray;
    font-size: 12px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 0.2em;
}

li.b {
    margin-left: 5px;
    width: 100px;
    height: 20px;
    border: 1px solid grey;
    font-size: 12px;
    text-align: center;
    background-color: pink;
    border-radius: 0.2em;
}

li:hover {
    cursor: move;
}

.add-button {
    border-radius: 0.4em;
    box-shadow: none;
    border: 1px solid gray;
}

.add-button:hover {
    background-color: rgba(128, 128, 128, 0.171);
}